<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.paper.ssm.dao.AttributeMetadataDao">

    <resultMap type="com.paper.ssm.entity.AttributeMetadata" id="AttributeMetadataMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="typeId" column="type_id" jdbcType="INTEGER"/>
        <result property="title" column="title" jdbcType="VARCHAR"/>
        <result property="value" column="value" jdbcType="VARCHAR"/>
        <result property="description" column="description" jdbcType="VARCHAR"/>
    </resultMap>

    <!--查询单个-->
    <select id="queryById" resultMap="AttributeMetadataMap">
        select
          id, type_id, title, value, description
        from paper.attribute_metadata
        where id = #{id}
    </select>

    <!--查询指定行数据-->
    <select id="queryAllByLimit" resultMap="AttributeMetadataMap">
        select
          id, type_id, title, value, description
        from paper.attribute_metadata
        limit #{offset}, #{limit}
    </select>

    <!--通过实体作为筛选条件查询-->
    <select id="queryAll" resultMap="AttributeMetadataMap">
        select
        id, type_id, title, value, description
        from paper.attribute_metadata
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="typeId != null">
                and type_id = #{typeId}
            </if>
            <if test="title != null and title != ''">
                and title = #{title}
            </if>
            <if test="value != null and value != ''">
                and value = #{value}
            </if>
            <if test="description != null and description != ''">
                and description = #{description}
            </if>
        </where>
    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        insert into paper.attribute_metadata(type_id, title, value, description)
        values (#{typeId}, #{title}, #{value}, #{description})
    </insert>

    <insert id="insertBatch" keyProperty="id" useGeneratedKeys="true">
        insert into paper.attribute_metadata(type_id, title, value, description)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.typeId}, #{entity.title}, #{entity.value}, #{entity.description})
        </foreach>
    </insert>

    <insert id="insertOrUpdateBatch" keyProperty="id" useGeneratedKeys="true">
        insert into paper.attribute_metadata(type_id, title, value, description)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.typeId}, #{entity.title}, #{entity.value}, #{entity.description})
        </foreach>
        on duplicate key update
        type_id = values(type_id) , title = values(title) , value = values(value) , description = values(description)
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update paper.attribute_metadata
        <set>
            <if test="typeId != null">
                type_id = #{typeId},
            </if>
            <if test="title != null and title != ''">
                title = #{title},
            </if>
            <if test="value != null and value != ''">
                value = #{value},
            </if>
            <if test="description != null and description != ''">
                description = #{description},
            </if>
        </set>
        where id = #{id}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete from paper.attribute_metadata where id = #{id}
    </delete>

</mapper>