<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.paper.ssm.dao.AttributeDao">

    <resultMap type="com.paper.ssm.entity.Attribute" id="AttributeMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="title" column="title" jdbcType="VARCHAR"/>
        <result property="elementId" column="element_id" jdbcType="INTEGER"/>
        <result property="metadataInformation" column="metadata_information" jdbcType="VARCHAR"/>
        <result property="value" column="value" jdbcType="VARCHAR"/>
        <result property="generic" column="generic" jdbcType="OTHER"/>
        <result property="description" column="description" jdbcType="VARCHAR"/>
    </resultMap>

    <!--查询单个-->
    <select id="queryById" resultMap="AttributeMap">
        select
          id, title, element_id, metadata_information, value, generic, description
        from paper.attribute
        where id = #{id}
    </select>

    <!--查询指定行数据-->
    <select id="queryAllByLimit" resultMap="AttributeMap">
        select
          id, title, element_id, metadata_information, value, generic, description
        from paper.attribute
        limit #{offset}, #{limit}
    </select>

    <!--查询某种要素对应的所有属性-->
    <select id="queryByEleId" resultMap="AttributeMap">
        select
          id, title, element_id, metadata_information, value, generic, description
        from paper.attribute
        where element_id=#{eleId}
    </select>
    <!--通过实体作为筛选条件查询-->
    <select id="queryAll" resultMap="AttributeMap">
        select
        id, title, element_id, metadata_information, value, generic, description
        from paper.attribute
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="title != null and title != ''">
                and title = #{title}
            </if>
            <if test="elementId != null">
                and element_id = #{elementId}
            </if>
            <if test="metadataInformation != null and metadataInformation != ''">
                and metadata_information = #{metadataInformation}
            </if>
            <if test="value != null and value != ''">
                and value = #{value}
            </if>
            <if test="generic != null">
                and generic = #{generic}
            </if>
            <if test="description != null and description != ''">
                and description = #{description}
            </if>
        </where>
    </select>

    <select id="queryMultiValue" resultType="com.paper.ssm.entity.Attribute">
        select title,`value` from paper.attribute where `value`!=''
    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        insert into paper.attribute(title, element_id, metadata_information, value, generic, description)
        values (#{title}, #{elementId}, #{metadataInformation}, #{value}, #{generic}, #{description})
    </insert>

    <insert id="insertBatch" keyProperty="id" useGeneratedKeys="true">
        insert into paper.attribute(title, element_id, metadata_information, value, generic, description)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.title}, #{entity.elementId}, #{entity.metadataInformation}, #{entity.value},
            #{entity.generic}, #{entity.description})
        </foreach>
    </insert>

    <insert id="insertOrUpdateBatch" keyProperty="id" useGeneratedKeys="true">
        insert into paper.attribute(title, element_id, metadata_information, value, generic, description)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.title}, #{entity.elementId}, #{entity.metadataInformation}, #{entity.value},
            #{entity.generic}, #{entity.description})
        </foreach>
        on duplicate key update
        title = values(title) , element_id = values(element_id) , metadata_information =
        values(metadata_information) , value = values(value) , generic = values(generic) , description =
        values(description)
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update paper.attribute
        <set>
            <if test="title != null and title != ''">
                title = #{title},
            </if>
            <if test="elementId != null">
                element_id = #{elementId},
            </if>
            <if test="metadataInformation != null and metadataInformation != ''">
                metadata_information = #{metadataInformation},
            </if>
            <if test="value != null and value != ''">
                value = #{value},
            </if>
            <if test="generic != null">
                generic = #{generic},
            </if>
            <if test="description != null and description != ''">
                description = #{description},
            </if>
        </set>
        where id = #{id}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete from paper.attribute where id = #{id}
    </delete>

</mapper>