<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.paper.ssm.dao.ElementDataDao">

    <resultMap type="com.paper.ssm.entity.ElementData" id="ElementDataMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="sceneId" column="scene_id" jdbcType="INTEGER"/>
        <result property="elementId" column="element_id" jdbcType="INTEGER"/>
        <result property="attributeValue" column="attribute_value" jdbcType="VARCHAR"/>
        <association property="element" column="elementId" select="com.paper.ssm.dao.ElementDao.queryById"></association>
    </resultMap>

    <!--查询单个-->
    <select id="queryById" resultMap="ElementDataMap">
        select
          id, scene_id, element_id, attribute_value
        from paper.element_data
        where id = #{id}
    </select>

    <select id="selectElementDataListBySceneId" resultMap="ElementDataMap">
        select
          id, scene_id, element_id, attribute_value
        from paper.element_data
        where scene_id = #{sceneId}
    </select>

    <!--查询指定行数据-->
    <select id="queryAllByLimit" resultMap="ElementDataMap">
        select
          id, scene_id, element_id, attribute_value
        from paper.element_data
        limit #{offset}, #{limit}
    </select>

    <!--通过实体作为筛选条件查询-->
    <select id="queryAll" resultMap="ElementDataMap">
        select
        id, scene_id, element_id, attribute_value
        from paper.element_data
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="sceneId != null">
                and scene_id = #{sceneId}
            </if>
            <if test="elementId != null">
                and element_id = #{elementId}
            </if>
            <if test="attributeValue != null and attributeValue != ''">
                and attribute_value = #{attributeValue}
            </if>
        </where>
    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        insert into paper.element_data(scene_id, element_id, attribute_value)
        values (#{sceneId}, #{elementId}, #{attributeValue})
    </insert>

    <insert id="insertBatch" keyProperty="id" useGeneratedKeys="true">
        insert into paper.element_data(scene_id, element_id, attribute_value)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.sceneId}, #{entity.elementId}, #{entity.attributeValue})
        </foreach>
    </insert>

    <insert id="insertOrUpdateBatch" keyProperty="id" useGeneratedKeys="true">
        insert into paper.element_data(scene_id, element_id, attribute_value)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.sceneId}, #{entity.elementId}, #{entity.attributeValue})
        </foreach>
        on duplicate key update
        scene_id = values(scene_id) , element_id = values(element_id) , attribute_value = values(attribute_value)
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update paper.element_data
        <set>
            <if test="sceneId != null">
                scene_id = #{sceneId},
            </if>
            <if test="elementId != null">
                element_id = #{elementId},
            </if>
            <if test="attributeValue != null and attributeValue != ''">
                attribute_value = #{attributeValue},
            </if>
        </set>
        where id = #{id}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete from paper.element_data where id = #{id}
    </delete>

</mapper>