<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.paper.ssm.dao.LineDao">

    <resultMap type="com.paper.ssm.entity.Line" id="LineMap">
        <result property="id" column="id" jdbcType="VARCHAR"/>
        <result property="processEntityId" column="process_entity_id" jdbcType="VARCHAR"/>
        <result property="title" column="title" jdbcType="VARCHAR"/>
        <result property="from" column="from" jdbcType="VARCHAR"/>
        <result property="to" column="to" jdbcType="VARCHAR"/>
        <result property="remark" column="remark" jdbcType="VARCHAR"/>
    </resultMap>

    <!--查询单个-->
    <select id="queryById" resultMap="LineMap">
        select id,
               process_entity_id,
               title,
               `from`,
               `to`,
               remark
        from paper.line
        where id = #{id}
    </select>

    <select id="queryByProcessEntityId" resultMap="LineMap">
        select id,
               process_entity_id,
               title,
               `from`,
               `to`,
               remark
        from paper.line
        where process_entity_id = #{processEntityId}
    </select>

    <!--查询指定行数据-->
    <select id="queryAllByLimit" resultMap="LineMap">
        select id,
               process_entity_id,
               title,
               `from`,
               `to`, remark
        from paper.line
            limit #{offset}, #{limit}
    </select>

    <!--通过实体作为筛选条件查询-->
    <select id="queryAll" resultMap="LineMap">
        select
        id, process_entity_id, title, `from`, `to`, remark
        from paper.line
        <where>
            <if test="id != null and id != ''">
                and id = #{id}
            </if>
            <if test="processEntityId != null and processEntityId != ''">
                and process_entity_id = #{processEntityId}
            </if>
            <if test="title != null and title != ''">
                and title = #{title}
            </if>
            <if test="from != null and from != ''">
                and `from` = #{from}
            </if>
            <if test="to != null and to != ''">
                and `to` = #{to}
            </if>
            <if test="remark != null and remark != ''">
                and remark = #{remark}
            </if>
        </where>
    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="id">
        insert into paper.line(`id`, process_entity_id, title, `from`, `to`, remark)
        values (#{id}, #{processEntityId}, #{title}, #{from}, #{to}, #{remark})
    </insert>

    <insert id="insertBatch" keyProperty="id" useGeneratedKeys="true">
        insert into paper.line(process_entity_id, title, `from`, `to`, remark)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.processEntityId}, #{entity.title}, #{entity.from}, #{entity.to}, #{entity.remark})
        </foreach>
    </insert>

    <insert id="insertOrUpdateBatch" keyProperty="id" useGeneratedKeys="true">
        insert into paper.line(process_entity_id, title, `from`, `to`, remark)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.processEntityId}, #{entity.title}, #{entity.from}, #{entity.to}, #{entity.remark})
        </foreach>
        on duplicate key update
        process_entity_id = values(process_entity_id) , title = values(title) , from = values(`from`) , to = values(`to`) ,
        remark = values(remark)
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update paper.line
        <set>
            <if test="processEntityId != null and processEntityId != ''">
                process_entity_id = #{processEntityId},
            </if>
            <if test="title != null and title != ''">
                title = #{title},
            </if>
            <if test="from != null and from != ''">
                `from` = #{from},
            </if>
            <if test="to != null and to != ''">
                `to` = #{to},
            </if>
            <if test="remark != null and remark != ''">
                remark = #{remark},
            </if>
        </set>
        where id = #{id}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete
        from paper.line
        where id = #{id}
    </delete>

</mapper>