<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.paper.ssm.dao.ModelEntityDao">

    <resultMap type="com.paper.ssm.entity.ModelEntity" id="ModelEntityMap">
        <result property="id" column="id" jdbcType="VARCHAR"/>
        <result property="title" column="title" jdbcType="VARCHAR"/>
        <result property="operator" column="operator" jdbcType="VARCHAR"/>
        <result property="executionTime" column="execution_time" jdbcType="VARCHAR"/>
        <result property="region" column="region" jdbcType="VARCHAR"/>
        <result property="dataSource" column="data_source" jdbcType="VARCHAR"/>
        <result property="remark" column="remark" jdbcType="VARCHAR"/>
        <collection column="id" property="entityElementDataList" ofType="com.paper.ssm.entity.EntityElementData"
                    javaType="java.util.ArrayList" select="com.paper.ssm.dao.EntityElementDataDao.queryByModelEntityId"/>
    </resultMap>

    <!--查询单个-->
    <select id="queryById" resultMap="ModelEntityMap">
        select id,
               title,
               operator,
               execution_time,
               region,
               data_source,
               remark
        from paper.model_entity
        where id = #{id}
    </select>

    <!--查询指定行数据-->
    <select id="queryAllByLimit" resultMap="ModelEntityMap">
        select id,
               title,
               operator,
               execution_time,
               region,
               data_source,
               remark
        from paper.model_entity limit #{offset}, #{limit}
    </select>

    <!--通过实体作为筛选条件查询-->
    <select id="queryAll" resultMap="ModelEntityMap">
        select
        id, title, operator, execution_time, region, data_source, remark
        from paper.model_entity

    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="id">
        insert into paper.model_entity(`id`, title, operator, execution_time, region, data_source, remark)
        values (#{id}, #{title}, #{operator}, #{executionTime}, #{region}, #{dataSource}, #{remark})
    </insert>

    <insert id="insertBatch" keyProperty="" useGeneratedKeys="true">
        insert into paper.model_entity(id, title, operator, execution_time, region, data_source, remark)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.id}, #{entity.title}, #{entity.operator}, #{entity.executionTime}, #{entity.region},
            #{entity.dataSource}, #{entity.remark})
        </foreach>
    </insert>

    <insert id="insertOrUpdateBatch" keyProperty="" useGeneratedKeys="true">
        insert into paper.model_entity(id, title, operator, execution_time, region, data_source, remark)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.id}, #{entity.title}, #{entity.operator}, #{entity.executionTime}, #{entity.region},
            #{entity.dataSource}, #{entity.remark})
        </foreach>
        on duplicate key update
        id = values(id) , title = values(title) , operator = values(operator) , execution_time = values(execution_time)
        , region = values(region) , data_source = values(data_source) , remark = values(remark)
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update paper.model_entity
        <set>
            <if test="id != null and id != ''">
                id = #{id},
            </if>
            <if test="title != null and title != ''">
                title = #{title},
            </if>
            <if test="operator != null and operator != ''">
                operator = #{operator},
            </if>
            <if test="executionTime != null and executionTime != ''">
                execution_time = #{executionTime},
            </if>
            <if test="region != null and region != ''">
                region = #{region},
            </if>
            <if test="dataSource != null and dataSource != ''">
                data_source = #{dataSource},
            </if>
            <if test="remark != null and remark != ''">
                remark = #{remark},
            </if>
        </set>
        where id = #{id}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete
        from paper.model_entity
        where id = #{id}
    </delete>

</mapper>