<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.paper.ssm.dao.NodeDao">

    <resultMap type="com.paper.ssm.entity.Node" id="NodeMap">
        <result property="id" column="id" jdbcType="VARCHAR"/>
        <result property="processEntityId" column="process_entity_id" jdbcType="VARCHAR"/>
        <result property="title" column="title" jdbcType="VARCHAR"/>
        <result property="top" column="top" jdbcType="VARCHAR"/>
        <result property="left" column="left" jdbcType="VARCHAR"/>
        <association property="modelEntity" column="id" select="com.paper.ssm.dao.ModelEntityDao.queryById"/>
    </resultMap>

    <!--查询单个-->
    <select id="queryById" resultMap="NodeMap">
        select id,
               process_entity_id,
               title,
               top,
               `left`
        from paper.node
        where id = #{id}
    </select>

    <select id="queryByProcessEntityId" resultMap="NodeMap">
        select id,
               process_entity_id,
               title,
               top,
               `left`
        from paper.node
        where process_entity_id = #{processEntityId}
    </select>

    <!--查询指定行数据-->
    <select id="queryAllByLimit" resultMap="NodeMap">
        select id,
               process_entity_id,
               title,
               top,
               `left`
        from paper.node
            limit #{offset}, #{limit}
    </select>

    <!--通过实体作为筛选条件查询-->
    <select id="queryAll" resultMap="NodeMap">
        select
        id, process_entity_id, title, top, `left`
        from paper.node
        <where>
            <if test="id != null and id != ''">
                and id = #{id}
            </if>
            <if test="processEntityId != null and processEntityId != ''">
                and process_entity_id = #{processEntityId}
            </if>
            <if test="title != null and title != ''">
                and title = #{title}
            </if>
            <if test="top != null and top != ''">
                and top = #{top}
            </if>
            <if test="left != null and left != ''">
                and `left` = #{left}
            </if>
        </where>
    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="id">
        insert into paper.node(`id`, process_entity_id, title, top, `left`)
        values (#{id}, #{processEntityId}, #{title}, #{top}, #{left})
    </insert>

    <insert id="insertBatch" keyProperty="id" useGeneratedKeys="true">
        insert into paper.node(process_entity_id, title, top, `left`)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.processEntityId}, #{entity.title}, #{entity.top}, #{entity.left})
        </foreach>
    </insert>

    <insert id="insertOrUpdateBatch" keyProperty="id" useGeneratedKeys="true">
        insert into paper.node(process_entity_id, title, top, `left`)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.processEntityId}, #{entity.title}, #{entity.top}, #{entity.left})
        </foreach>
        on duplicate key update
        process_entity_id = values(process_entity_id) , title = values(title) , top = values(top) , left = values(`left`)
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update paper.node
        <set>
            <if test="processEntityId != null and processEntityId != ''">
                process_entity_id = #{processEntityId},
            </if>
            <if test="title != null and title != ''">
                title = #{title},
            </if>
            <if test="top != null and top != ''">
                top = #{top},
            </if>
            <if test="left != null and left != ''">
                `left` = #{left},
            </if>
        </set>
        where id = #{id}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete
        from paper.node
        where id = #{id}
    </delete>

</mapper>