<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.paper.ssm.dao.ProcessEntityDao">

    <resultMap type="com.paper.ssm.entity.ProcessEntity" id="ProcessEntityMap">
        <result property="id" column="id" jdbcType="VARCHAR"/>
        <result property="title" column="title" jdbcType="VARCHAR"/>
        <result property="remark" column="remark" jdbcType="VARCHAR"/>
        <collection column="id" property="nodeList" ofType="com.paper.ssm.entity.Node"
                    javaType="java.util.ArrayList" select="com.paper.ssm.dao.NodeDao.queryByProcessEntityId"/>
        <collection column="id" property="lineList" ofType="com.paper.ssm.entity.Line"
                    javaType="java.util.ArrayList" select="com.paper.ssm.dao.LineDao.queryByProcessEntityId"/>
    </resultMap>

    <!--查询单个-->
    <select id="queryById" resultMap="ProcessEntityMap">
        select id,
               title,
               remark
        from paper.process_entity
        where id = #{id}
    </select>

    <!--查询指定行数据-->
    <select id="queryAllByLimit" resultMap="ProcessEntityMap">
        select id,
               title,
               remark
        from paper.process_entity limit #{offset}, #{limit}
    </select>

    <!--通过实体作为筛选条件查询-->
    <select id="queryAll" resultMap="ProcessEntityMap">
        select
        id, title, remark
        from paper.process_entity
        <where>
            <if test="id != null and id != ''">
                and id = #{id}
            </if>
            <if test="title != null and title != ''">
                and title = #{title}
            </if>
            <if test="remark != null and remark != ''">
                and remark = #{remark}
            </if>
        </where>
    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="id" >
        insert into paper.process_entity(`id`, title, remark)
        values (#{id}, #{title}, #{remark})
    </insert>

    <insert id="insertBatch" keyProperty="id" useGeneratedKeys="true">
        insert into paper.process_entity(title, remark)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.title}, #{entity.remark})
        </foreach>
    </insert>

    <insert id="insertOrUpdateBatch" keyProperty="id" useGeneratedKeys="true">
        insert into paper.process_entity(title, remark)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.title}, #{entity.remark})
        </foreach>
        on duplicate key update
        title = values(title) , remark = values(remark)
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update paper.process_entity
        <set>
            <if test="title != null and title != ''">
                title = #{title},
            </if>
            <if test="remark != null and remark != ''">
                remark = #{remark},
            </if>
        </set>
        where id = #{id}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete
        from paper.process_entity
        where id = #{id}
    </delete>

</mapper>